<!DOCTYPE html>
<html>
<head>
	<title>todo list</title>
	
<script src="/assets/todolist.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>


</body>
</html>