<!DOCTYPE html>
<html>
<head>
	<title></title>
	
<script src="/assets/todolist.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<center>
		<h3>insert here</h3>
      <form action="/add" method="POST">
		<input type="text" name="name" placeholder=" enter your name here"  value="<%= user.name %>" required=""></br></br>
        <input type="text" name="location" placeholder="enter your location here"  value="<%= user.location %>" required=""></br></br><br></br>
        <input type="submit"  value="insert your records" onClick="return confirm('data inseted well thank u')"></br></br>
	</form>
	<a href="/">logout</a>
</center>
</body>
</html>